<link rel="stylesheet" type="text/css" href="~/Style/StructureQuestion.css?x=1" />
@{
    string dep = ViewBag.Dep;
    string pregunta = ViewBag.Pregunta;
    string opcion1 = ViewBag.Opcion1;
    string opcion2 = ViewBag.Opcion2;
    string opcion3 = ViewBag.Opcion3;
    string opcion4 = ViewBag.Opcion4;
    int idpregunta = ViewBag.IdPregunta;
}
<div class="container" id="mainDiv" data-id="@idpregunta">

    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2 logo" id="xxx">

        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 text-center cardback">
            <p>@pregunta</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 text-center button fondo" style="margin-left:30px;" id="opcion1" data-id="@opcion1"><label>@opcion1</label></div>
        <div class="col-lg-3 col-md-3 col-sm-3 text-center"></div>
        <div class="col-lg-4 col-md-4 col-sm-4 text-center button fondo" style="margin-left:35px;" id="opcion2" data-id="@opcion2">@opcion2</div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 text-center button fondo" style="margin-left:30px;" id="opcion3" data-id="@opcion3"><label>@opcion3</label></div>
        <div class="col-lg-3 col-md-3 col-sm-3 text-center"></div>
        <div class="col-lg-4 col-md-4 col-sm-4 text-center button fondo" style="margin-left:35px;" id="opcion4" data-id="@opcion4">@opcion4</div>
    </div>
    <div class="row">
        <h1 id="ronda" class="text-center col-lg-12 col-md-12 col-sm-12" style="padding-top:20px" ></h1>
    </div>
</div>

<style>

    .fondo:hover {
        background-color: #2274A5;
        color: white;
    }

</style>

<script>

    $(document).ready(function () {
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        const result = urlParams.get('Department')
        $('#example').text(result);
        console.log(result);

        if (result == "Inglés") {
            $('#xxx').append(`<img src="../Img/INGLÉS.png" height="150" width="150" />`);
        } else if (result == "Español") {
            $('#xxx').append(`<img src="../Img/ESPAÑOL.png" height="150" width="150" />`);
        } else if (result == "Matemáticas") {
            $('#xxx').append(`<img src="../Img/MATEMÁTICA.png" height="150" width="150" />`);
        } else if (result == "Ciencias Naturales") {
            $('#xxx').append(`<img src="../Img/CIENCIAS.png" height="150" width="150" />`);
        } else if (result == "Estudios Sociales") {
            $('#xxx').append(`<img src="../Img/ESTUDIOS SOCIALES.png" height="150" width="150" />`);
        }
    });


    let ronda = window.localStorage.getItem('rondaVirtualMente');

    $('#ronda').text(`Ronda Actual: ${ronda}/10`);

    $('.button').click(function () {
        let idQuestion = $("#mainDiv").attr("data-id");
        let selected = $(this).attr("data-id");
        jQuery.ajax({
            type: "GET",
            dataType: "json",
            async: false,
            url: "/QuestionGame/isCorrect",
            data: { id: idQuestion, respuesta: selected },
            success: function (data) {

                ronda = parseFloat(ronda) + parseFloat(1);
                saveLocalStorage('rondaVirtualMente', ronda);


                let score = window.localStorage.getItem('scoreVirtualMente');
                if (data == 'Ok') {
                    score = parseFloat(score) + parseFloat(1);
                    saveLocalStorage('scoreVirtualMente', score);

                    if (ronda == 11) {
                        Swal.fire(`Resumen del juego \n Respuestas correctas ${score} \n Respuestas incorrectas ${10 - score} \n Puntos obtenidos ${score} \n Felicidades, has terminado el juego!`)
                            .then(function () {
                                window.location.href = '@Url.Action("Main", "ChooseGame")';
                            });

                    } else {
                        Swal.fire(`Respuesta Correcta \nSu puntuación es de: ` + score)
                        .then(function () {
                                window.location.href = '@Url.Action("test", "RandomCategory")';
                            });
                    }

                } else {

                    if (ronda == 11) {
                        Swal.fire(`Resumen del juego \n Respuestas correctas ${score} \n Respuestas incorrectas ${10 - score} \n Puntos obtenidos ${score} \n Felicidades, has terminado el juego!`)
                            .then(function () {
                                window.location.href = '@Url.Action("Main", "ChooseGame")';
                            });

                    } else {
                    Swal.fire(`Respuesta Incorrecta \nLa respuesta correcta es: ${data}`)
                        .then(function () {
                                window.location.href = '@Url.Action("test", "RandomCategory")';
                            });
                    }

                }

            },
        });

    });
</script>